<html>
	<head>
		<title>Password Generator 0.0.1</title>
	</head>
	<body>
		{% block title %}
		<h2>Welcome to the Password Generator</h2>
		{% endblock %}
		{% block form %}
		<form action="/getPass">
			<label for="minLen">Minimum Password Length</label>
			<select id="minLen">
			  <option value="8">8</option>
			  <option value="9">9</option>
			  <option value="10">10</option>
			  <option value="11">11</option>
			  <option value="12">12</option>
			</select>
			<label for="maxLen">Maximum Password Length</label>
			<select id="maxLen">
			  <option value="18">18</option>
			  <option value="19">19</option>
			  <option value="20">20</option>
			  <option value="21">21</option>
			  <option value="22">22</option>
			  <option value="23">23</option>
			  <option value="24">24</option>
			  <option value="25">25</option>
			  <option value="26">26</option>
			  <option value="27">27</option>
			  <option value="28">28</option>
			  <option value="29">29</option>
			  <option value="30">30</option>
			</select>
		</form>
		{% endblock %}
	</body>
</html>
